.mainLogos{
    height: 293px;
    background-color: #EEF1F6;
}

.indivLogos{

    padding-left: 12px;
    padding-top: 83px;
    padding-right: 45px;
}

.indivLogo{
    margin-left: 228px;
    height: 115px;
    width: 87px;
    position: relative;
}

.uxph{
    left: 1100px;
    top: -290px;
}

.lions{
    left: 720px;
    top: -205px;
}

.tugon{
    left: 350px;
    top: -105px;
}