.MPHeader{
    font-size: 36px;
    line-height: 64px;
    margin-left: 113px;
}

.popular2{
    position:relative;
    margin-left: 455px;
    margin-top: -450px;
}

.popular3{
    position:relative;
    margin-left: 797px;
    margin-top: -450px;
}
.popular4{
    position:relative;
}
.popular5{
    position:relative;
}
.popular6{
    position:relative;
}

.ATFHeader{
    font-size: 36px;
    line-height: 64px;
    margin-left: 113px;
}

.faves2{
    position:relative;
    margin-left: 455px;
    margin-top: -450px;
}

.faves3{
    position:relative;
    margin-left: 797px;
    margin-top: -450px;
}