.ms-container {
  height: 1000px;
  background: #FFFFFF;
}

.ms-container h2 {
  width: 80%;
}

.ms-content-container {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.MemberStoriesImage {
  margin: auto;
  width: 75%;
}

.MemberStoriesImage img {
  width: 100%;
}

.ms-card {
  z-index: 1;
  width: 540px;
  height: 420px;
  position: absolute;
  background: #FFFFFF;
  -webkit-box-shadow: 0 10px 20px rgba(48, 47, 47, 0.19), 0 6px 6px rgba(53, 52, 52, 0.23);
          box-shadow: 0 10px 20px rgba(48, 47, 47, 0.19), 0 6px 6px rgba(53, 52, 52, 0.23);
  padding: 30px;
  right: 6rem;
  margin-top: 12rem;
}

.ms-card .AuthorName {
  margin-bottom: 5rem;
}


.MemberStoriesLabel {
  color: #B3BCC4;
  font-size: 1rem;
  font-family: "Proxima-Nova", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  margin-top: 4.5rem;
}

.MemberStoriesTitle {
  font-size: 2rem;
  text-align: left;
  line-height: 45px;
  margin-left: 0;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.ms-image {
  width: 120%;
}



@media screen and (max-width: 795px) {
  .ms-card {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3rem;
    width: 75%;
    right: auto;
  }

  .MemberStoriesLabel {
    margin-top: 1.5rem;
    margin-left: 2.5rem;
  }

  .MemberStoriesTitle {
    font-size: 18px;
    line-height: 26px;
    width: 1rem;
    margin-left: 2.5rem;
    margin-top: -0.5rem;
    margin-bottom: 2rem;
  }

  .ms-card .AuthorPic {
    margin-left: 2.5rem;
  }

  .ms-card .AuthorName {
    font-size: 12px;
    margin-bottom: 2.75rem;
    margin-left: 6rem;
  }

  .ms-card .RedirectButton a {
    margin-top: -2rem;
    margin-right: -0.5rem;
  }
}

@media screen and (max-width: 520px) {
  .ms-card {
    margin-top: -1.5rem;
  }

  .ms-container h2 {
    width: 258px;
    line-height: 34px;
  }

  .ms-image {
    width: 84vw;
    height: 40vh;
    margin-left: -0.5rem;
  }

  .ms-card {
    margin-top: 9rem;
  }

  .MemberStoriesLabel, .MemberStoriesTitle, .ms-card .AuthorPic  {
    margin-left: 2rem;
  }

  .ms-card .AuthorName {
    margin-left: 5rem;
  }

  .ms-card .RedirectButton a {
    margin-top: -1rem;
    margin-right: -1rem;
    line-height: 35px;
  }
  .MemberStoriesTitle {
    line-height: 36px;
    font-size: 1.8rem;
  }

  .MemberStoriesImage {
    margin: auto;
    width: 100%;
  }
}
