div {
  line-height: 1.5;
}

h3 {
  font-size: 28px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.services {
  height: 1716px;
  position: relative;
  display: block;
  margin: 32rem 11.5rem 0 11.5rem;
}

.services h2 {
  margin-bottom: 8rem;
}

.services-paragraph {
  height: 108px;
  width: 477px;
  position: relative;
  font-family: "Proxima-Nova", sans-serif;
}

.row-1, .row-2, .row-3 {
  position: relative;
  left: 0;
}

.row-1 {
  margin-top: -3rem;
}

.row-1-text {
  position: absolute;
  top: 8rem;
  right: 0;
}

.row-1 p {
  width: 30vw;
}

.row-2 {
  margin-top: 10rem;
}

.row-2 p {
  width: 37.5vw;
}

.row-2 img {
  position: absolute;
  right: 0;
  top: -12rem;
}

.row-3 {
  margin-top: 6rem;
}

.row-3-text {
  position: absolute;
  top: 8rem;
  right: -1rem;
}

.row-3 p {
  width: 30vw;
}
