.services {
  height: 100%;
  width: 75%;
  margin: auto;
  padding-bottom: 7.5rem;
}

.services h2 {
  margin-bottom: 8rem;
}

@media screen and (max-width: 768px) {
  .services h2 {
    margin-bottom: 60px;
  }
}
