.designLibraryHeader{
    text-align: center;
}
.articleBigHeader{
    font-size: 50.97px;
    line-height: 60px
}
.bigHeaderContainer{
    width: 836px;
    height: 119px;
    text-align: center;
    display: inline-block;
    margin-top: -30px;
    
}