.RedirectButton {
  cursor: pointer;
  margin-top: -0.7rem;
}

.RedirectButton a {
  color: #008ED4;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
  margin-right: 4rem;
  cursor: pointer;
}

.RedirectButton img {
  width: 14px;
  height: 11px;
  position: absolute;
  right: 43.6rem;
  margin-top: 0.25rem;
}