.RedirectButton {
  cursor: pointer;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.RedirectButton a {
  color: #008ED4;
  font-family: "Proxima-Nova", sans-serif;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.RedirectButton img {
  width: 16px;
  height: 13px;
  margin: auto 8px;
}
