.RedirectButton {
  cursor: pointer;
  margin-top: -0.7rem;
  position: relative;
  right: -2rem;
}

.RedirectButton a {
  color: #008ED4;
  font-family: "Proxima-Nova", sans-serif;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
  margin-right: 1rem;
  margin-top: -1rem;
  cursor: pointer;
}

.RedirectButton img {
  width: 16px;
  height: 13px;
  float: right;
  margin-top: 0.3rem;
  margin-right: 5rem;
  padding-left: 1rem;
}