.navbar {
  margin-top: 30px;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 42px;
}

.navbar-container {
  display: flex;
  margin-left: 13vw;
  margin-right: 13vw;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-mr {
  display: flex;
  flex-direction: row;
}

.navbar-link {
  font-size: 18px;
  color: #3b3e42;
  width: 100%;
  font-family: sans-serif;
  align-self: center;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-item {
  height: 64px;
  display: flex;
}

.navbar-logo {
  width: 160.6px;
  grid-column: 1/1;
}

.navbar-about {
  margin-left: 0px !important
}

.navbar-contact {
  margin-left: 0px !important
}
