.navbar {
  margin-top: 30px;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 42px;
}

.navbar-container {
  display: flex;
  margin-left: 13vw;
  margin-right: 13vw;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-mr {
  display: flex;
  flex-direction: row;
}

.navbar-link {
  font-size: 18px;
  color: #3b3e42;
  width: 100%;
  font-family: "Proxima-Nova",sans-serif;
  font-weight: 500;
  align-self: center;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  text-decoration: none;
}

.navbar-item {
  height: 64px;
  display: flex;
}

.navbar-logo {
  width: 160.6px;
  grid-column: 1/1;
}

.navbar-menu {
  display: none;
}

.menu-icon {
  fill: #ABABAB;
  cursor: pointer;
}

.navbar-about {
  margin-left: 0px !important
}

.navbar-contact {
  margin-left: 0px !important
}

@media screen and (max-width: 600px) {
  .navbar-menu {
    display: block;
    margin-top: 8px;
    margin-right: -9.5rem;
    width: 3rem;
  }

  .menu-icon {
    fill: #ABABAB;
    cursor: pointer;
  }

  .navbar-link {
    display: none;
  }
}

@media screen and (max-width: 320px) {

  .navbar {
    margin-top: 0px;
    margin-left: -20px;
    width: 100%;
    margin-bottom: -25px;
  }

  .navbar-logo {
    width: 112px;
    height: 45px;
  }

  .navbar-link {
    display: none;
  }
}
