.memberStoryMainPage{
}
.authorAndPosition{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 48px;
}
.ellipse{
    position:relative;
    left: -22px;
    top: 13px;
}
.memberStoryHeader{
    position: relative;
    text-align: center;
    margin-top: 150px;

}
.memberStoryHeader{
    font-family: Montserrat;
}

.storyTitle{
    font-family: Rubik;
    line-height: 60px;
    font-size: 50.97px;
    color: #20252B;
}

.memberStoryIndivPar{
    margin-top: 90px;

}

.memberStoryText{
    margin: 30px auto;
    width: 900px;
    text-align: left;
}

.memberStoryParagraphBox{
  height: 290px;
  line-height: 32px

}


.memberStoryContentHeaders{
    text-align:left;
}

.MSbottomImage{
  width: 900px;
  margin: auto;
}


.MSbuttons{
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1px;
    margin: 30px auto;
    width: 80%;
    text-align: center;
}
