.rightSideText{
    position: relative;
    margin-left: 315px;
    margin-top: -280px;
    width: 625px;
}

.header{
    font-size: 24px;
    line-height: 28px;
    color: black;
    font-family: 'Rubik';
    font-weight: 570;
    letter-spacing: 0.1ch;

}

.secondHeader{
    font-size: 16px;
    line-height:28px;
    font-family: Montserrat;
    color: #828282;
    font-weight: 400

}

.paragraph{
    color: #828282;
    line-height: 28px;
    font-size: 16px;
}

.secondHeaderContainer{
    margin-top: -20px;
}

.paragraphContainer{
    width: 625px;
    height: 68px;
}

.buttons{
    position: relative;
    margin-top: 40px;
}
