@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');

.HomeCards-container {
  height: 960px;
  width: 100vw;
  background: #EEF1F6;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  align-items: center;
  justify-items: center;
}

.HomeCards {
  height: 750px;
  width: 500px;
  background: #FFFFFF;
  border-radius: 8px;
  text-align: center;
}

.HomeCards:first-of-type {
  margin-left: 175px;
}

.HomeCards:last-of-type {
  margin-right: 180px;
}

.HomeCards img {
  width: 500px;
}

.HomeCards h2 {
  font-size: 40px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin-top: -7px;
}

.card-label {
  color: #B3BCC4;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.card-caption {
  color: #3B3E42;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 30px;
  width: 345px;
  display: block;
  margin: auto;
  margin-top: -10px;
  margin-bottom: 30px;
}

.HomeCards button {
  width: 255px;
  height: 62px;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  background: #008ED4;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: none;
  display: block;
  margin: auto;
}