.Logos {
  /* width: 100%; */
  height: 293px;
  background-color: #EEF1F6;
  /* position: absolute; */
  /* left: 11.5rem;
  right: 11.5rem; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
}

.logo-container {
  width: 84vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.logo {
  margin-left: -3rem;
}

.logo img {
  width: 100%;
  height: 100%;
}
