.HomeCard {
  height: 750px;
  width: 500px;
  background: #FFFFFF;
  border-radius: 8px;
  text-align: center;
}

.HomeCard img {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.HomeCard h2 {
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}

.HomeCard p {
  margin-top: 0.5rem;
}

.card-caption {
  color: #3B3E42;
  font-family: "Proxima-Nova", sans-serif;
  font-size: 20px;
  line-height: 35px;
  width: 350px;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}

.HomeCardLeft {
  margin-left: 175px;
}

.HomeCardRight {
  margin-right: 180px;
}

.HomeCardLeft img {
  width: 390px;
  height: 272px;
}

.HomeCardRight img {
  width: 370px;
  height: 275px;
}

.HomeCardRight .card-caption {
  width: 380px;
}

@media screen and (max-width: 1024px) {
  .HomeCard {
    width: 450px;
  }
}

@media screen and (max-width: 768px) {
  .HomeCard {
    height: 600px;
    width: 350px;
  }

  .HomeCard img {
    width: 100%;
    height: 200px;
    margin-top: 3rem;
  }

  .HomeCard h2 {
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    font-size: 32px;
  }

  .HomeCard p:last-of-type {
    width: 300px;
    font-size: 16px;
    line-height: 29px;
    margin-top: -1rem;
  }
}

@media screen and (max-width: 600px) {
  .HomeCard {
    height: 640px;
    width: 400px;
  }

  .HomeCardLeft {
    margin-left: 0px;
  }

  .HomeCardRight {
    margin-right: 0px;
  }
}

@media screen and (max-width: 425px) {
  .HomeCard {
    height: 590px;
    width: 345px;
  }
}

@media screen and (max-width: 320px) {
  .HomeCard {
    width: 275px;
    height: 360px;
  }

  .HomeCard:first-of-type {
    margin-left: 1px;
  }

  .HomeCard:last-of-type {
    margin-right: 1px;
  }

  .HomeCard img {
    width: 205px;
    height: 158px;
    margin-top: 1rem;
  }

  .HomeCard h2 {
    font-size: 24px;
    margin-top: -2.75rem;
  }

  .HomeCard p:first-of-type {
    font-size: 13px;
    margin-top: -0.5rem;
  }

  .HomeCard p:last-of-type {
    width: 240px;
    font-size: 13px;
    line-height: 24px;
    margin-top: -1.6rem;
  }
}