.HomeCard {
  height: 750px;
  width: 500px;
  background: #FFFFFF;
  border-radius: 8px;
  text-align: center;
}

.HomeCard:first-of-type {
  margin-left: 175px;
}

.HomeCard:last-of-type {
  margin-right: 180px;
}

.HomeCard img {
  width: 500px;
}

.HomeCard h2 {
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}

.HomeCard p {
  margin-top: 0.5rem;
}

.card-caption {
  color: #3B3E42;
  font-family: "Proxima-Nova", sans-serif;
  font-size: 20px;
  line-height: 35px;
  width: 350px;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}

.card-caption:last-of-type {
  width: 380px;
}

@media screen and (max-width: 320px) {
  .HomeCard {
    width: 248px;
    height: 330px;
  }

  .HomeCard:first-of-type {
    margin-left: 1px;
  }

  .HomeCard:last-of-type {
    margin-right: 1px;
  }

  .HomeCard img {
    width: 205px;
    height: 158px;
    margin-top: 1rem;
  }

  .HomeCard h2 {
    font-size: 24px;
    margin-top: -2.75rem;
  }

  .HomeCard p:first-of-type {
    font-size: 13px;
    margin-top: -0.5rem;
  }

  .HomeCard p:last-of-type {
    width: 240px;
    font-size: 13px;
    line-height: 24px;
    margin-top: -1.6rem;
  }
}