.navbar {
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 42px;
  position: fixed;
  background: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 13vw;
  margin-right: 13vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-mr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar-link, .dropdown-link {
  font-size: 18px;
  color: #3b3e42;
  width: 100%;
  font-family: "Proxima Nova",sans-serif;
  font-weight: 500;
  -ms-flex-item-align: center;
  align-self: center;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-link:hover {
  color: white;
}

.navbar-item {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-logo {
  width: 160.6px;
  grid-column: 1/1;
}

.navbar-menu {
  display: none;
}

.burger {
  fill: #ABABAB;
  cursor: pointer;
}

.navbar-about {
  margin-left: 0px !important
}

.navbar-contact {
  margin-left: 0px !important
}

.NavDropdown {
  display: none;
  z-index: 99;
  width: 100vw;
  height: auto;
  color: white;
  background: #008ed4;
  position: fixed;
  top: 6rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.NavDropdown li {
  list-style: none;
  color: white;
  padding: 0.5rem;
}

.NavDropdown li:hover {
  background: #006ca1;
}

.NavDropdown li:hover, .navbar-link:hover {
  text-decoration: underline;
  color: inherit;
}

@media screen and (max-width: 1024px) {
  .navbar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .navbar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .navbar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .none {
    display: none;
  }

  .NavDropdown {
    display: block;
  }

  .navbar-menu {
    display: block;
    margin-top: 8px;
    margin-right: -55vw;
    width: 3rem;
  }

  /* .burger {
    cursor: pointer;
    width: 40px;
  }

  .burger div {
    background: #ABABAB;
    width: 100%;
    margin: 10px;
    height: 4px
  } */

  .burger {
    position: relative;
    width: 45px;
    height: 50px;
    cursor: pointer;
  }

  .burger .line {
    position: absolute;
    background: #ABABAB;
    width: 100%;
    height: 5px;
    top: 50%;
    right: 0px;
    margin-top: -5px;
    opacity: 1;
  }

  .burger .line::before {
    position: absolute;
    background: #ABABAB;
    width: 45px;
    height: 5px;
    top: 15px;
    content: "";
    display: block;
  }

  .burger .line::after {
    position: absolute;
    background: #ABABAB;
    width: 45px;
    height: 5px;
    bottom: 15px;
    content: "";
    display: block;
  }

  .burger .line::after, .burger .line::before, .burger {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
  }

  .burger.menu-on .burger::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    bottom: 0px;
  }

  .burger.menu-on .burger::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 0px;
  }

  .burger.menu-on .burger {
    background: #ABABAB;
  }

  .navbar-link {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .navbar-menu {
    display: block;
    margin-top: 8px;
    margin-right: -44vw;
  }
}

@media screen and (max-width: 375px) {
  .navbar-menu {
    display: block;
    margin-top: 8px;
    margin-right: -36.5vw;
  }
}

@media screen and (max-width: 320px) {
  .navbar {
    margin-top: 0px;
    width: 100%;
    margin-bottom: -25px;
  }

  .navbar-logo {
    width: 112px;
    height: 45px;
  }

  .navbar-link {
    display: none;
  }

  .navbar-menu {
    margin-right: -8.5rem;
  }
}
