.about-ux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -30px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.about-uxsociety {
  margin: auto 60px;
}

.about-ux img {
  width: 25em !important;
  margin-left: 30px;
  margin-top: 120px;
}

.about-uxsociety h2 {
  margin-left: 45px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 24px;
  color: #101010;
  margin-bottom: 15px !important;
  text-align: left;
}

.about-uxsociety p {
  margin: 0;
  padding: 0;
  margin-left: 45px;
  font-family: Proxima Nova, sans-serif;
  line-height: 30px;
  font-size: 20px;
  color: #101010;
}

.about-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
          margin-top: 72px;
}

.about-CoreValues {
  padding: 72px 180px;
}

.about-CoreValues h1 {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 36px;
  text-align: center;
  color: #20252B;
  margin-bottom: 60px;
}


@media screen and (max-width: 1024px) {
  .about-ux {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            margin: 0 auto;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
  }

  .about-ux img {
    width: 80%;
    margin: auto;
    margin-top: 60px;
  }

  .about-uxsociety {
    margin: auto;
  }

  .about-box {
    width: 100%;
  }

  .about-uxsociety {
    width: 80%;
    margin: 30px auto;
    padding: 0;
  }

  .about-uxsociety h2, .about-uxsociety p {
    margin: auto 0;
    padding: 0;
    text-align: center;
  }

  .about-CoreValues {
    padding: 0;
    width: 80%;
    margin: auto;
  }
}


@media screen and (max-width: 768px) {
  .about-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-ux {
    margin-top: 0;
  }

  .about-ux img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 560px) {
  .about-ux {
    width: 90%;
  }
}

@media screen and (max-width: 440px) {
  .about-ux {
    width: 100%;
  }

  .about-ux img {
    width: 250px !important;
  }
}
