.home-landing-container {
  margin-left: 13vw;
  margin-right: 13vw;
  display: grid;
  grid-template-rows: 56px 16px 25px 153px 59px 70px 231px;
  grid-template-columns: 544px 795px
}

.north-star-title {
  width: 100%;
  height: 16px;
  font-family: "Proxima-Nova", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5.1px;
  color: #b3bcc4;
  grid-column: 1/1;
  grid-row: 2/2;
}

.main-title-leader {
  width: 545px;
  height: 153px;
  font-size: 64px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  color: #20252b;
  grid-column: 1/1;
  grid-row: 4/4;
}

.home-landing-image {
  grid-column: 2/2;
  grid-row: 2/7;
}

.home-blue-section {
  margin-left: 0px !important;
  height: 600px;
  width: 100%;
  background-color: #008ed4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-blue-text {
  width: 800px;
  height: 122px;
  font-family: "Proxima-Nova", sans-serif;
  font-size: 34.6px;
  line-height: 1.76;
  color: #ffffff;
  text-align: center;
}

.blue1 {
  position: absolute;
  top: 1000px;
  left: -15px;
}

.blue2 {
  position: absolute;
  top: 663px;
  right: 0px;
}

.HomeCard-container {
  position: relative;
  z-index: 1;
  height: 960px;
  width: 100%;
  background: #EEF1F6;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  align-items: center;
  justify-content: center;
}
