.home-landing-container {
  margin-left: 13vw;
  margin-right: 13vw;
  display: grid;
  grid-template-rows: 56px 16px 25px 153px 59px 70px 231px;
  grid-template-columns: 544px 795px;
}

.north-star-title {
  width: 100%;
  height: 16px;
  font-family: "Proxima-Nova", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5.1px;
  color: #b3bcc4;
  grid-column: 1/1;
  grid-row: 2/2;
  margin-top: 2.5rem;
}

.main-title-leader {
  width: 545px;
  height: 153px;
  font-size: 64px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  color: #20252b;
  grid-column: 1/1;
  grid-row: 4/4;
}

.home-landing-image {
  grid-column: 2/2;
  grid-row: 4/7;
  margin-left: -4rem;
}

.mobile-landing-image {
  display: none;
}

.home-blue-section {
  margin-left: 0px !important;
  height: 600px;
  width: 100%;
  background-color: #008ed4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-blue-text {
  width: 800px;
  height: 122px;
  font-family: "Proxima-Nova", sans-serif;
  font-size: 34.6px;
  line-height: 1.76;
  color: #ffffff;
  text-align: center;
}

.design-leaders-img {
  position: absolute;
  top: 750px;
  left: -15px;
}

.HomeCard-container {
  position: relative;
  z-index: 1;
  height: 960px;
  width: 100%;
  background: #EEF1F6;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .north-star-title {
    margin-left: -3.5rem;
  }

  .main-title-leader {
    font-size: 60px;
    margin-top: 3rem;
    margin-left: -3.5rem;
  }

  .home-landing-container .journey-button {
    margin-left: -3.5rem;
  }

  .home-blue-text {
    font-size: 34px;
    margin-top: -1rem;
  }

  .blue1 {
    display: none;
  }

  .blue2 {
    position: absolute;
    top: 400px;
    right: 0px;
  }

  .HomeCard-container {
    position: relative;
    z-index: 1;
    height: 800px;
    width: 100%;
    background: #EEF1F6;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .main-title-leader {
    font-size: 45px;
    margin-top: 2.5rem;
    margin-left: -2.5rem;
  }

  .north-star-title {
    margin-left: -2.5rem;
  }

  .home-landing-container .journey-button {
    margin-top: -5rem;
    margin-left: -2.25rem;
  }

  .home-blue-text {
    width: 450px;
    font-size: 28px;
    margin-top: -5rem;
  }

  .HomeCard-container {
    position: relative;
    z-index: 1;
    height: auto;
    background: #EEF1F6;
    display: inline-grid;
    grid-template-columns: 100%;
    grid-template-rows: 675px 675px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    justify-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .main-title-leader, .north-star-title, .journey-button {
    margin-left: -2rem;
  }

  .home-landing-container .journey-button {
    margin-top: 3rem;
    margin-left: -1.75rem;
  }

  .blue2 {
    position: absolute;
    top: 350px;
    right: 0px;
  }

  .home-blue-text {
    width: 370px;
    font-size: 24px;
    margin-top: -5rem;
  }

  .HomeCard-container {
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 650px 650px;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 375px) {
  .north-star-title {
    margin-top: 2rem;
    margin-left: -0.5rem;
  }

  .main-title-leader {
    width: 258px;
    height: 82px;
    font-size: 34px;
    line-height: normal;
    margin-top: 2rem;
  }

  .main-title-leader, .north-star-title, .journey-button {
    margin-left: -1.5rem;
  }

  .home-landing-container .journey-button {
    margin-top: 0.5rem;
  }

  .home-blue-section {
    height: 500px;
  }

  .blue2 {
    position: absolute;
    top: 340px;
    right: 0px;
  }

  .home-blue-text {
    width: 350px;
    font-size: 20px;
    margin-top: -3rem;
  }
}

@media screen and (max-width: 320px) {
  .north-star-title {
    margin-top: 1.5rem;
    margin-left: -0.5rem;
  }

  .main-title-leader {
    width: 258px;
    height: 82px;
    font-size: 34px;
    line-height: normal;
    margin-top: 1rem;
    margin-left: -0.5rem;
  }

  .home-landing-image {
    display: none;
  }

  .mobile-landing-image {
    width: 320px;
    height: 305px;
    display: block;
    grid-column: 1/1;
    grid-row: 4/7;
    margin-top: 7rem;
    margin-left: -2.6rem;
  }

  .home-landing-container .journey-button {
    z-index: 5;
    margin-top: 35rem;
    margin-left: -0.2rem;
  }

  .home-blue-section {
    margin-top: -11.5rem;
    height: 295px;
    width: 100%;
    background-color: #008ed4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blue1 {
    display: none;
  }

  .blue2 {
    z-index: 2;
    width: 204px;
    height: 257px;
    position: absolute;
    top: 680px;
  }

  .home-blue-text {
    width: 260px;
    height: 206px;
    font-family: "Proxima-Nova", sans-serif;
    font-size: 18px;
    line-height: 33px;
    color: #ffffff;
    text-align: left;
    margin-top: 1rem;
  }

  .HomeCard-container {
    position: relative;
    z-index: 1;
    height: 830px;
    background: #EEF1F6;
    display: inline-grid;
    grid-template-columns: 100%;
    grid-template-rows: 435px 300px;
    grid-row-gap: 20px;
    justify-items: center;
    justify-content: center;
    padding-top: 10rem;
  }
}
