.EventDetails {
  color: #20252B;
  font-size: 12px;
  font-family: "Proxima-Nova", sans-serif;
  font-weight: normal;
  line-height: 1.5rem;
  list-style: none;
  margin-left: 1.75rem;
  margin-top: -1.25rem;
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.EventDetails img {
  margin-top: 0.35rem;
  display: block;
  margin: auto;
}

.EventLabel {
  color: #B3BCC4;
  font-size: 1rem;
  font-family: "Proxima-Nova", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  margin-top: 3rem;
  margin-left: 2.5rem;
}

.EventName {
  font-size: 2.25rem;
  text-align: left;
  margin-left: 2.5rem;
}

.AboutHeader {
  font-family: "Proxima-Nova", sans-serif;
  margin-left: 2.5rem;
  margin-bottom: -0.25rem;
  color: black;
  letter-spacing: 0;
}

.AboutDesc {
  width: 22.5rem;
  font-family: "Proxima-Nova", sans-serif;
  font-size: 12px;
  font-weight: lighter;
  line-height: 21px;
  margin-left: 2.5rem;
  margin-bottom: 1.7rem;
}

.EventImage img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 320px) {
  .EventLabel {
    font-size: 12px;
    margin-top: 12.5rem;
    margin-left: 1.3rem;
  }

  .EventImage img {
    width: 84%;
    height: 157px;
    display: block;
    margin: auto;
    position: relative;
    top: -45rem;
  }

  .EventName {
    font-size: 32px;
    text-align: left;
    margin-left: 1.2rem;
    margin-top: -0.5rem;
  }

  .EventDetails {
    margin-left: 1rem;
    margin-top: -1rem;
  }

  .AboutHeader {
    margin-left: 1.4rem;
  }

  .AboutDesc {
    width: 225px;
    margin-left: 1.4rem;
  }

  .RedirectButton {
    margin-right: -3rem;
    margin-left: -1rem;
  }
}