.events-container {
  height: 100%;
  background: #EEF1F6;
  padding: 1rem;
}

.event-card {
  width: 100%;
  display: grid;
  grid-template-columns: 25rem 25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5rem;
}

.event-info {
  padding: 30px;
  background: #FFFFFF;
}

.EventDetails {
  color: #20252B;
  font-size: 12px;
  font-family: "Proxima-Nova", sans-serif;
  font-weight: normal;
  line-height: 1.5rem;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 9fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -0.5rem;
}

.EventDetails img {
  margin: auto;
}

.EventLabel {
  color: #B3BCC4;
  font-size: 1rem;
  font-family: "Proxima-Nova", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  margin-top: 3rem;
}

.EventImage img {
  width: 25rem;
  height: 100%;
  display: block;
  margin: auto;
}

.EventName {
  font-size: 2rem;
  line-height: 45px;
  text-align: left;
  margin-bottom: 1rem;
}

.AboutHeader {
  font-family: "Proxima-Nova", sans-serif;
  color: black;
  letter-spacing: 0;
}

.AboutDesc {
  width: 100%;
  font-size: 12px;
  font-family: "Proxima-Nova", sans-serif;
  font-weight: lighter;
  line-height: 21px;
  margin-bottom: 45px;
}

.EventImageMobile {
  display: none;
}

.EventImageMobile img {
  width: 100%;
  margin-bottom: -1.5rem;
}

@media screen and (max-width: 840px) {
  .event-card {
    width: 25rem;
    height: 100%;
    display: block;
    padding-bottom: 5rem;
    margin: auto;
  }

  .EventImage img {
    display: none;
  }

  .EventDetails {
    margin-left: -0.6rem;
  }

  .event-card .RedirectButton {
    margin-top: 2.5rem;
    margin-right: 1rem;
  }

  .EventImageMobile {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .event-card {
    width: 95%;
  }

  .EventDetails {
    font-size: 12px;
  }

  .EventDetails img {
    margin-top: 5px;
    margin-left: 2px;
  }

  .AboutDesc {
    width: 70vw;
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  .EventLabel {
    font-size: 12px;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  .EventImage img {
    width: 80vw;
    height: 10rem;
    top: -41.5rem;
  }

  .event-card .RedirectButton {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 375px) {
  .EventDetails {
    width: 15rem;
  }

  .EventDetails li {
    margin-left: -5px;
  }

  .event-card .RedirectButton {
    margin-top: 0;
  }
}
