h1{
    font-size: 300%;
<<<<<<< HEAD

=======
>>>>>>> 74033146011d2cd606b63b102fd8294cbdca44b5
}

h4 {
    color: rgb(204, 203, 203);
    letter-spacing: 7px;
<<<<<<< HEAD

}

body{
    font-family: Montserrat;
=======
>>>>>>> 74033146011d2cd606b63b102fd8294cbdca44b5
}