.resource-content-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.main-title {
  width: 40rem;
}

.resource-card {
  z-index: 1;
  width: 528px;
  height: 448px;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(48, 47, 47, 0.19), 0 6px 6px rgba(53, 52, 52, 0.23);
  grid-column: 9/9;
  grid-row: 3/8;
  margin-top: -2rem;
  margin-right: -3rem;
}

.ResourceLabel {
  color: #B3BCC4;
  font-size: 1rem;
  font-family: "Proxima-Nova", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  margin-top: 3rem;
  margin-left: 2.5rem;
}

.ResourceTitle {
  font-size: 2rem;
  text-align: left;
  width: 30rem;
  margin-left: 2.5rem;
  margin-top: 1rem;
}

.ResourceDesc {
  width: 26rem;
  color: #000000;
  font-family: "Proxima-Nova", sans-serif;
  font-size: 1rem;
  line-height: 28px;
  margin-left: 2.5rem;
  margin-bottom: 2.5rem;
}

.RedirectButton {
  margin-top: 2.5rem;
}

.ResourceImage {
  grid-column: 4/9;
  grid-row: 1/12;
  margin-left: -3rem;
}

.PastResources {
  grid-column: 7/12;
  grid-row: 10/12;
}

.PastResources a {
  color: #008ED4;
  font-family: "Proxima-Nova", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}