.resources-container {
  height: 1230px;
  background: #EEF1F6;
  padding-top: 0.5rem;
  position: relative;
}

.resource-content-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.main-title {
  width: 40rem;
}

#resource-button {
  width: 80%;
  margin: auto;
}

.resource-card {
  z-index: 1;
  width: 540px;
  height: 400px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 10px 20px rgba(48, 47, 47, 0.19), 0 6px 6px rgba(53, 52, 52, 0.23);
          box-shadow: 0 10px 20px rgba(48, 47, 47, 0.19), 0 6px 6px rgba(53, 52, 52, 0.23);
  grid-column: 9/9;
  grid-row: 3/8;
  margin-top: -2rem;
  margin-right: -3rem;
}


.ResourceLabel {
  color: #B3BCC4;
  font-size: 1rem;
  font-family: "Proxima-Nova", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  margin-top: 3rem;
  margin-left: 2.5rem;
}

.ResourceTitle {
  font-size: 1.8rem;
  text-align: left;
  margin-left: 2.5rem;
  margin-top: 1rem;
}

.ResourceDesc {
  width: 26rem;
  color: #000000;
  font-family: "Proxima-Nova", sans-serif;
  font-size: 1rem;
  line-height: 28px;
  margin-left: 2.5rem;
  margin-bottom: 2.5rem;
}

.resource-card .RedirectButton {
  margin-top: 2.5rem;
}

.ResourceImage {
  grid-column: 4/9;
  grid-row: 1/12;
  margin-left: -3rem;
}

.ResourceLink {
  margin-top: -1.5rem;
}

.ResourceLink a {
  font-family: "Proxima-Nova", sans-serif;
  font-size: 1rem;
  margin-left: 2.5rem;
}

.resource-card .AuthorPic {
  margin-left: 2.5rem;
}

.resource-card .AuthorName {
  margin-top: -3.7rem;
  margin-left: 6rem;
}

.PastResources {
  grid-column: 7/12;
  grid-row: 10/12;
}

.PastResources a {
  color: #008ED4;
  font-family: "Proxima-Nova", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.selected {
  color: #20252b;
  border-bottom: 1px solid #20252b;
}

@media screen and (max-width: 600px) {
  .resources-container {
    height: 1050px;
    padding-top: 0.25rem;
    position: relative;
  }

  .main-title {
    width: 60vw;
    font-size: 24px;
    line-height: 34px;
  }

  .SectionToggleResources .section-toggle {
    width: 125px;
    font-size: 14px;
    padding: 0.5rem;
  }

  .SectionToggleResources .section-toggle:first-of-type {
    margin-left: 2.5rem;
  }

  .resource-content-container {
    width: 86vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin-left: 3.25rem;
    margin-top: -2rem;
  }

  .ResourceImage img {
    width: 80vw;
    height: auto;
  }

  .resource-card {
    z-index: 1;
    width: 84vw;
    height: 415px;
    grid-column: 5/5;
    grid-row: 4/8;
    margin-top: -2rem;
  }

  .ResourceLabel {
    font-size: 12px;
    margin-top: 2.5rem;
    margin-left: 1.5rem;
  }

  .ResourceTitle {
    width: 26rem;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
    line-height: 34px;
  }

  .resource-card .AuthorPic {
    margin-left: 1.5rem;
  }

  .resource-card .AuthorName {
    margin-top: -3.75rem;
    margin-left: 5rem;
  }

  .ResourceLink {
    margin-left: -0.9rem;
  }

  .ResourceDesc {
    width: 68vw;
    font-size: 12px;
    line-height: 20px;
    margin-top: -0.5rem;
    margin-left: 1.5rem;
    margin-bottom: -1rem;
  }

  .resource-card .RedirectButton a {
    margin-right: 3.5rem;
  }

  .resource-card .RedirectButton img{
    margin-top: 0.25rem;
  }

  .PastResources {
    grid-column: 5/10;
    grid-row: 8/12;
    margin-left: 7rem;
    margin-top: 2rem;
  }

  .PastResources a {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .resources-container {
    height: 1050px;
    padding-top: 0.25rem;
    position: relative;
  }

  .main-title {
    width: 268px;
  }

  .SectionToggleResources .section-toggle {
    width: 125px;
    font-size: 14px;
    padding: 0.5rem;
  }

  .SectionToggleResources .section-toggle:first-of-type {
    margin-left: 1.5rem;
  }

  .resource-content-container {
    width: 86vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin-left: 2.5rem;
    margin-top: -2rem;
  }

  .ResourceImage img {
    width: 80vw;
    height: auto;
  }

  .resource-card {
    z-index: 1;
    width: 84vw;
    height: 415px;
    grid-column: 5/5;
    grid-row: 3/8;
    margin-top: -2rem;
  }

  .ResourceLabel {
    font-size: 12px;
    margin-top: 2.5rem;
    margin-left: 1.5rem;
  }

  .ResourceTitle {
    width: 18rem;
  }

  .ResourceDesc {
    width: 68vw;
  }

  .resource-card .RedirectButton {
    margin-right: -0.5rem;
  }

  .PastResources {
    grid-column: 5/10;
    grid-row: 9/12;
    margin-left: 1.75rem;
  }

  .PastResources a {
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  .SectionToggleResources .section-toggle {
    width: 125px;
    font-size: 14px;
    padding: 0.5rem;
  }

  .SectionToggleResources .section-toggle:first-of-type {
    margin-left: 0rem;
  }

  .resource-content-container {
    width: 86vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin-left: 2.5rem;
    margin-top: -2rem;
  }

  .resource-card {
    z-index: 1;
    width: 80vw;
    height: 415px;
    grid-column: 4/5;
    grid-row: 3/8;
    margin-top: -0.5rem;
  }

  .ResourceTitle {
    width: 12rem;
  }

  .ResourceDesc {
    width: 65vw;
  }

  .resource-card .RedirectButton {
    margin-right: -2rem;
  }

  .PastResources {
    grid-column: 1/10;
    grid-row: 9/12;
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .main-title {
    width: 268px;
    line-height: 34px;
  }

  .SectionToggleResources .section-toggle {
    width: 106px;
    padding: 0.5rem;
  }

  .SectionToggleResources .section-toggle:first-of-type {
    margin-left: 0rem;
  }

  .resource-content-container {
    width: 86vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin-left: 2.5rem;
  }

  .resource-card {
    z-index: 1;
    width: 245px;
    height: 400px;
    grid-column: 4/4;
    grid-row: 3/8;
    margin-top: 0.5rem;
  }

  .ResourceDesc {
    width: 62vw;
  }

  .resource-card .RedirectButton {
    margin-right: -2rem;
  }

  .PastResources {
    grid-column: 1/10;
    grid-row: 9/12;
    margin-left: -0.25rem;
  }
}
