.AuthorPic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}

.AuthorName {
  color: #000000;
  font-family: "Proxima Nova", sans-serif;
  font-size: 1rem;
  line-height: 28px;
  margin-left: 3rem;
  margin-bottom: 1.7rem;
  margin-top: -3.5rem;
}

@media screen and (max-width: 520px) {
  .AuthorName {
    font-size: .65rem;
  }
}
