@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');

.uxsoc-website {
  margin-top: 30px;
  max-width: 100%;
  overflow: hidden !important;
}

h2 {
  font-size: 40px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #20252B;
  text-align: center;
  line-height: 55px;
  display: block;
  margin: -1rem auto 1.5rem auto;
}

.section-label {
  color: #B3BCC4;
  font-family: "Proxima-Nova", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}

.blue-btn-big {
  color: white;
  font-size: 14px;
  font-family: "Proxima-Nova", sans-serif;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  padding: 20px 28px;
  background: #008ED4;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  border: none;
  display: block;
  margin: auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.journey-button {
  border-radius: 8px;
  background-color: #008ed4;
  font-size: 16px;
  font-weight: 600;
  font-family: "Proxima-Nova", sans-serif;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 247px;
  height: 70px;
  grid-column: 1/1;
  grid-row: 7/7;
  border: none;
  outline: none;
  cursor: pointer;
  line-height: 70px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 320px) {
  h2 {
    font-size: 24px;
  }

  .section-label {
    font-size: 12px;
  }

  .journey-button {
    width: 248px;
    grid-column: 1/1;
    grid-row: 5/7;
    margin-left: -0.35rem;
  }

  .blue-btn-big {
    width: 196px;
    height: 46px;
    font-size: 13px;
    font-family: "Proxima-Nova", sans-serif;
    line-height: 2px;
    padding: 25px 20px;
    background: #008ED4;
    margin-top: -1.5rem;
  }
}
