/* .process {
  position: relative;
  text-align: center;
  margin-right: 200px;
  height: 1028px;
  top: 560px;
  left: 50px;
} */

.process {
  position: relative;
  height: 1050px;
  top: 560px;
  left: 50px;
}

.headers {
  position: absolute;
  left: 8.5rem;
  right: 15rem;
}

.headers .method-title {
  text-align: center;
}

.headers .section-label {
  position: relative;
  margin-top: 8rem;
  text-align: center;
}

.arrowLeft, .arrowRight {
  height: 46px;
  width: 23px;
  position: absolute;
  top: 32rem;
}

.arrowLeft {
  left: 0;
}

.arrowRight {
  right: 0;
}
.processImage {
  width: 56vw;
  height: 498px;
  display: block;
  margin: auto;
}

.discovery {
  text-align: left;
  position: relative;
  margin-top: 54px;
  font-size: 36px
}

.discovery-text {
  width: 40vw;
  height: 136px;
  position: absolute;
  top: 49.5rem;
  right: 0;
  line-height: 1.5;
  font-family: "Proxima-Nova", sans-serif;
}

