.process {
  position: relative;
  width: 75%;
  margin: auto;
  padding-bottom: 7.5rem;
}

.arrowLeft, .arrowRight {
  width: 2.5%;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrowLeft {
  left: 0;
  padding-right: 15px;
}

.arrowRight {
  right: 0;
  padding-left: 15px;
}

.arrowLeft:hover, .arrowRight:hover {
  /* color: #008ED4 !important; */
  cursor: pointer;
}

/* #C4C4C4
#008ED4 */

.processImage {
  width: 840px;
  height: 400px;
}

.MethodBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          margin-top: 60px;
}

.method-subheader {
  font-size: 36px;
  width: 60%;
  text-align: left;
  margin-bottom: 0;
}

.method-text {
  width: 100%;
  line-height: 1.5;
  font-family: "Proxima Nova", sans-serif;
}

@media screen and (max-width: 930px) {
  .processImage {
    width: 600px;
    height: 320px
  }
}
@media screen and (max-width: 768px) {
  #process, .headers {
    margin: 0 !important;
    padding: 0 !important;
  }

  .process {
    padding: 0;
    width: 75%;
    margin: auto;
    padding-bottom: 7.5rem;
  }


  .processImage {
    height: 320px;
    margin-bottom: 0 !important;
  }

  .MethodBlock {
    margin-top: 30px !important;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .method-subheader {
    text-align: center;
  }
}


@media screen and (max-width: 700px) {
  .processImage {
    width: 520px;
    height: 300px
  }
}
@media screen and (max-width: 580px) {
  .method-title {
    line-height: 36px;
  }
  
  .processImage {
    width: 370px;
    height: 220px;
  }

  .method-subheader {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .method-title {
    margin-bottom: 0;
  }

  .processImage {
    height: 150px;
    width: 270px;
    margin-bottom: 30px;
  }
}
