.contact-container {
  background: #FFFFFF;
}

.Contact {
  display: block;
  margin: auto;
}

.Contact h2 {
  width: 600px;
  margin-top: 48px;
}

form {
  width: 31.25rem;
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  grid-row-gap: 2.5rem;
  margin: 3.5rem auto;
}

input {
  height: 70px;
  padding-left: 32px;
}

textarea {
  padding: 32px;
  margin-bottom: 25px;
  resize: none;
}

input, textarea {
  border-radius: 8px;
  border: 1.5px solid #B3BCC4;
  outline: none;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

input::placeholder, textarea::placeholder {
  color: #B3BCC4;
}

.blue-btn-big {
  width: 260px;
}

@media screen and (max-width: 320px) {
  .Contact h2 {
    width: 270px;
    font-size: 20px;
    line-height: 28px;
    margin-top: -1rem;
  }

  .Contact p {
    margin-top: 2rem;
  }

  form {
    width: 278px;
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
    grid-row-gap: 0.75rem;
    margin: 1.5rem auto;
  }

  input {
    height: 34px;
    padding-left: 15px;
  }

  textarea {
    padding: 15px;
    margin-bottom: 3rem;
  }

  input::placeholder, textarea::placeholder {
    font-size: 14px;
  }
}