.section-label {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.landing-container h2 {
  width: 30rem;
}

.landing-image {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: -3rem;
}

.round-btn {
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 2.5rem;
  background: #008ED4;
  display: block;
  margin: auto;
  margin-bottom: 4rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.round-btn img {
  margin-top: 0.5rem;
}

/* events */
.events-container {
  height: 900px;
  background: #EEF1F6;
  padding-top: 1rem;
}

.events-container .section-label {
  margin-top: 5.25rem;
}

.event-card {
  width: 52rem;
  display: grid;
  grid-template-columns: 27.5rem 25rem;
  grid-template-rows: 32rem;
  margin: auto;
}

.event-info {
  height: 100%;
  background: #FFFFFF;
}

/* member stories */
.member-stories-container {
  height: 1108px;
  background: #FFFFFF;
}

.member-stories-container h2 {
  width: 38rem;
}

.member-stories-content-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.member-stories-card {
  z-index: 1;
  width: 568px;
  height: 448px;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(48, 47, 47, 0.19), 0 6px 6px rgba(53, 52, 52, 0.23);
  margin-top: 2rem;
  grid-column: 6/10;
  grid-row: 2/8;
}

.member-stories-card .AuthorName {
  margin-bottom: 5rem;
}

/* resources */
.resources-container {
  height: 1275px;
  background: #EEF1F6;
  padding-top: 0.5rem;
  position: relative;
}

.resources-container h2 {
  width: 40rem;
}

.resource-content-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.resource-card {
  z-index: 1;
  width: 528px;
  height: 408px;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(48, 47, 47, 0.19), 0 6px 6px rgba(53, 52, 52, 0.23);
  grid-column: 9/9;
  grid-row: 3/8;
}